{% extends 'base.html' %}

{% block styles %}
<link href="{{ url_for('static', filename='css/booking.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Подтверждение бронирования -->
<div id="confirmation" class="container py-5" style="text-align: center;">
    <!-- Форма бронирования -->
    <h2>Подтверждение бронирования</h2>

    <p id="booking-info"></p> <!-- Добавляем параграф для отображения информации о бронировании -->
    <p id="total-cost-info"></p> <!-- Добавляем параграф для отображения информации о стоимости -->

    <form id="booking-form" method="post" action="/booking_confirmation">
        <input type="hidden" id="house_id" name="house_id">
        <input type="hidden" id="start_date_input" name="start_date">
        <input type="hidden" id="end_date_input" name="end_date">
        <button type="button" id="backButtonConfirmation" class="btn btn-secondary btn-sm">Назад</button>
        <button type="submit" class="btn btn-primary btn-sm">Подтвердить бронирование</button>
    </form>
    
</div>

<!-- Подтверждение бронирования -->
<div id="confirmation2" class="container py-5" style="display: none;">
    <!-- Форма бронирования -->
    <h2>Бронирование подтверждено</h2>
    <p>Спасибо за бронирование!</p>
    <a href="/user_panel" class="btn btn-primary">Личный кабинет</a>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/booking_confirmation.js') }}"></script>
{% endblock %}
