<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light">
	<div class="container">
		<p><img src="/static/img/footer/telegram.png" alt="logo" width="32" height="32" class="rounded-circle border border-white" style="opacity: 0.4;"><a href="https://t.me/your_telegram">  @telegram</a></p>
		<p><img src="/static/img/footer/inst.png" alt="logo" width="32" height="32" class="rounded-circle border border-white" style="opacity: 0.4;"><a href="https://www.instagram.com/your_instagram">  @instagram</a></p>
		<p><img src="/static/img/footer/vk.png" alt="logo" width="32" height="32" class="rounded-circle border border-white" style="opacity: 0.4;"><a href="https://www.facebook.com/your_facebook">  @vk</a></p>
		<p><img src="/static/img/footer/whatsapp.png" alt="logo" width="32" height="32" class="rounded-circle border border-white" style="opacity: 0.4;"><a href="https://www.facebook.com/your_facebook">  @+79960310322</a></p>
	</div>
</footer>