<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/logo_square3.png') }}" alt="Логотип" height="24">
        </a>
        <div class="d-flex align-items-center justify-content-end"> <!-- Добавлен justify-content-end для выравнивания элементов по правому краю -->
    <span class="me-3">Привет, {{ current_user.username }}</span>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://cdn.iconscout.com/icon/free/png-256/free-user-circle-3605375-3005455.png" alt="Логотип" height="24">
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-small shadow animated" aria-labelledby="dropdownUser3"> <!-- Добавлен класс dropdown-menu-end -->
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'user_panel' %}active{% endif %}" aria-current="page" href="{{ url_for('users.user_panel') }}">
                    <span data-feather="home"></span>
                    <span class="d-inline">Бронирования</span>
                </a>
            </li>
            <li>
                <a class="nav-link {% if active_page == 'user_info' %}active{% endif %}" aria-current="page" href="{{ url_for('users.user_info') }}">
                    <span data-feather="book"></span>
                    <span class="d-inline">Аккаунт</span>
                </a>
            </li>
            <li>
                <a class="nav-link {% if active_page == 'user_settings' %}active{% endif %}" aria-current="page" href="{{ url_for('users.user_settings') }}">
                    <span data-feather="settings"></span>
                    <span class="d-inline">Настройки</span>
                </a>  
            </li>
            <li>
                <a class="nav-link" aria-current="page" href="{{ url_for('users.logout') }}">
                    <span data-feather="log-out"></span>
                    <span class="d-inline">Выход</span>
                </a>  
            </li>
        </ul>
    </div>
</div>
</nav>