<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='img/logo_square.png') }}" alt="Логотип" height="24">
        </a>
        <div class="d-flex align-items-center">
            <span class="me-3">Привет, {{ current_user.username }}</span>
            <a href="{{ url_for('users.logout') }}" class="btn btn-outline-secondary">Выход</a>
        </div>
    </div>
</nav>