<!-- Header -->
<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img src="/static/img/logo_square_new.png" alt="Логотип" height="24">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="#carouselExampleIndicators">Галерея</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#carouselExampleIndicators">Дома</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#yandexMaps">Как добраться</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#attractions">Вокруг Нас</a>
					</li>
				</ul>
				<span class="welcome-block">
					<span class="welcome-text">
						{% if current_user.username %}
							С возвращением, {{ current_user.username }}
						{% endif %}
					</span>
					<div>
						{% if current_user.username %}
							<a href="/user_panel" class="btn btn-outline-secondary">Личный кабинет</a>
						{% else %}
							<a class="btn btn-outline-secondary" href="/login">Вход / Регистрация</a>
						{% endif %}
					</div>
				</span>
			</div>
		</div>
	</nav>
</header>
