{% extends 'base.html' %}

{% block styles %}
<link href="{{ url_for('static', filename='css/booking.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Выбор дома -->
<div class="row">   
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://modul-2.ru/assets/cache_image/projects/dom-17/render_01_760x507_ace.jpg.webp" class="card-img-top" alt="House 1">
            <div class="card-body">
                <h5 class="card-title">Дом "Уютный"</h5>
                <p class="card-text">
                    <strong>Тип:</strong> Одноэтажный<br>
                    <strong>Вместимость:</strong> Для 2 персон<br>
                    <strong>Кровати:</strong> 1<br>
                    <strong>Комнаты:</strong> 2<br>
                    <strong>Удобства:</strong> Все удобства<br>
                    <strong>Особенности:</strong> Прекрасно подходят для романтического отдыха вдвоем. Уютная атмосфера и комфорт обеспечат незабываемый отдых.
                </p>
                <button class="btn btn-primary select-house-btn" data-house-id="1">Выбрать</button>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://img-fotki.yandex.ru/get/26292/127908635.e73/0_186f9c_59a2d690_orig.jpg" class="card-img-top" alt="House 1">
            <div class="card-body">
                <h5 class="card-title">Дом "Уютный"</h5>
                <p class="card-text">
                    <strong>Тип:</strong> Двухэтажный<br>
                    <strong>Вместимость:</strong> Для семьи из 4 человек<br>
                    <strong>Кровати:</strong> 3<br>
                    <strong>Комнаты:</strong> 3<br>
                    <strong>Удобства:</strong> Полный набор удобств для комфортного проживания семьи.<br>
                    <strong>Особенности:</strong> Просторное размещение для всей семьи. Каждый член семьи найдет здесь свое место для отдыха и развлечений.
                </p>
                <button class="btn btn-primary select-house-btn" data-house-id="2">Выбрать</button>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="https://img-fotki.yandex.ru/get/39232/127908635.e73/0_186f9e_dea14748_orig.jpg" class="card-img-top" alt="House 1">
            <div class="card-body">
                <h5 class="card-title">Дом "Большой"</h5>
                <p class="card-text">
                    <strong>Тип:</strong> Двухэтажный<br>
                    <strong>Вместимость:</strong> Для большой компании<br>
                    <strong>Спальни:</strong> 4<br>
                    <strong>Удобства:</strong> Полностью оборудованная кухня, просторная гостиная, барбекю зона.<br>
                    <strong>Особенности:</strong> Идеальный выбор для отдыха в большой компании или семьей. Просторные спальни и общие зоны позволят всем гостям чувствовать себя комфортно и уютно.
                </p>
                <button class="btn btn-primary select-house-btn" data-house-id="3">Выбрать</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/booking.js') }}"></script>
{% endblock %}
