
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Ваши бронирования</h1>
    </div>

    <!-- Код отображения бронирований --> 
    <div class="row">
        {% for booking in user_bookings %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Бронирование №{{ booking['id'] }}</h5>
                    <p class="card-text">
                        <strong>Дом:</strong> {{ booking['house_id'] }}<br>
                        <strong>Дата заезда:</strong> {{ booking['start_date'] }}<br>
                        <strong>Дата выезда:</strong> {{ booking['end_date'] }}
                    </p>
                    <a href="/edit_booking_modal/{{ booking['id'] }}" class="btn btn-outline-secondary edit-booking-btn" data-booking-id="{{ booking['id'] }}">Редактировать</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>


<script>
    $(document).ready(function() {
        // Обработчик клика на кнопки "Редактировать"
        $('.edit-booking-btn').click(function() {
            var bookingId = $(this).data('booking-id');
        
            // Отправляем AJAX-запрос на сервер для получения содержимого модального окна
            $.get('/edit_booking_modal/' + bookingId, function(data) {
                // Вставляем полученное содержимое в модальное окно
                $('#editBookingModal .modal-body').html(data);
        
                // Показываем модальное окно
                $('#editBookingModal').modal('show');
            });
        });
    });
</script>