<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/img/logo_square3.png">

    <title>Регистрация</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style_common.css') }}" rel="stylesheet">

    <style>
      .container {
          max-width: 960px;
        }
        
        .border-top { border-top: 1px solid #e5e5e5; }
        .border-bottom { border-bottom: 1px solid #e5e5e5; }
        .border-top-gray { border-top-color: #adb5bd; }
        
        .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
        
        .lh-condensed { line-height: 1.25; }

        .py-5.text-center + .col-md-5 {
          margin-top: -35px; /* Уменьшаем верхний отступ */
        }

      .confirmation-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
      }
      .confirmation-input {
        width: 40px;
        height: 50px;
        text-align: center;
        font-size: 24px;
        border: 2px solid #ced4da;
        border-radius: 5px;
        margin: 0 5px;
      }
      .confirmation-input:focus {
        border-color: #80bdff;
        outline: none;
        box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
      }
    </style>
  </head>

  <body class="bg-light">
    
    <!-- Блок для вывода сообщений об успехе -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <ul class="list-unstyled mb-0">
            {% for category, message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}

    <!-- Блок для вывода сообщений об ошибках -->
    {% for field, errors in form.errors.items() %}
    {% for error in errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endfor %}

    <div class="container" id="mainContainer">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="static/img/logo_square3.png" alt="" width="72" height="72">
        <h2>Добро пожаловать к нам!</h2>
        <p class="lead">Спасибо за выбор нашего сервиса! 🎉 Мы ценим ваш интерес к нашему сайту и рады приветствовать вас в нашем сообществе.</p>
      </div>
        <div class="col-md-5 order-md-1 d-block mx-auto">
          
          <form class="needs-validation" method="post" action="{{ url_for('users.register') }}" novalidate>
            {{ form.csrf_token }}
            <div class="mb-2">
              <label for="address">Как к Вам обращаться?<span class="text-muted">(Не обязательно)</span></label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Например, Сергей, или Анна Викторовна">
              <div class="invalid-feedback">
                Ошибка!
              </div>
            </div>

            <div class="mb-2">
              <label for="username">Логин</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" id="username" name="username" placeholder="ваш_логин (Нужен для входа!)" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Обязателен!
                </div>
              </div>
            </div>

            <div class="mb-2">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email"  name="email" placeholder="ваша@почта.ру (Нужна для восстановления пароля!)" required>
              <div class="invalid-feedback">
                Введите почту!
              </div>
            </div>

            <div class="mb-2">
              <label for="address">Пароль</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Не менее 6 символов!" required>
              <div class="invalid-feedback">
                Введите пароль!
              </div>
            </div>

            <div class="mb-2">
              <label for="address2">Пароль Еще Раз</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="еще раз" required>
              <div class="invalid-feedback">
                Повторите пароль!
              </div>
            </div>
            
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="interested" name="interested">
              <label class="custom-control-label" for="same-address">Уведомлять по почте о Скидка и Промо-акциях</label>
            </div>

            <hr class="mb-2">
            <button id="registerButton" class="btn btn-outline-success-custom btn-lg mt-2 d-block mx-auto" type="submit">Зарегистрироваться</button>
          </form>
        </div>
    </div>  

    <div class="container" id="emailConfirmationModal" aria-hidden="true" style="display: none;">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="static/img/logo_square3.png" alt="" width="72" height="72">
        <h2>Подтвердите свой Email</h2>
        <p class="lead">На вашу почту отправлен код подтверждения, введите его здесь:</p>
      </div>

      <div class="confirmation-container">
        <form id="email-confirmation-form" method="post" action="{{ url_for('users.verify_email') }}">
          {{ form.csrf_token }}
          <input type="hidden" name="name" value="{{ name }}">
          <input type="hidden" name="username" value="{{ username }}">
          <input type="hidden" name="email" value="{{ email }}">
          <input type="hidden" name="password" value="{{ password }}">
          <input type="hidden" name="interested" value="{{ interested }}">

          <div class="confirmation-container">
            <input type="text" class="confirmation-input" id="code1" maxlength="1" required>
            <input type="text" class="confirmation-input" id="code2" maxlength="1" required>
            <input type="text" class="confirmation-input" id="code3" maxlength="1" required>
            <input type="text" class="confirmation-input" id="code4" maxlength="1" required>
          </div>

          <input type="hidden" name="confirmation_code" id="confirmation_code">

          <button type="submit" class="btn btn-outline-success-custom btn-lg mt-2 d-block mx-auto">Подтвердить</button>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2024 Borovsky</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Правила</a></li>
        <li class="list-inline-item"><a href="#">Политика</a></li>
        <li class="list-inline-item"><a href="#">Поддержка</a></li>
      </ul>
    </footer>
  </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict'
    
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
    
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
          .forEach(function (form) {
            form.addEventListener('submit', function (event) {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
    
              form.classList.add('was-validated')
            }, false)
          })
      })()
      {% if show_modal %}
        document.getElementById('mainContainer').style.display = 'none'; // Скрыть основной контейнер
        document.getElementById('emailConfirmationModal').style.display = 'block'
      {% endif %}
      const inputs = document.querySelectorAll('.confirmation-input');
      inputs.forEach((input, index) => {
        input.addEventListener('input', () => {
          if (input.value.length === input.maxLength) {
            if (index < inputs.length - 1) {
              inputs[index + 1].focus();
            }
          }
        });

        input.addEventListener('paste', (e) => {
          e.preventDefault();
          const pastedData = e.clipboardData.getData('text').trim().slice(0, 4);
          [...pastedData].forEach((char, i) => {
            if (inputs[i]) {
              inputs[i].value = char;
            }
          });
          inputs[pastedData.length - 1].focus();
        });
      });

      // Собрать код из всех полей перед отправкой формы
      document.getElementById('email-confirmation-form').addEventListener('submit', function() {
        const confirmationCodeField = document.getElementById('confirmation_code');
        confirmationCodeField.value = Array.from(inputs).map(input => input.value).join('');
      });
    </script>
  </body>
</html>
