{% extends 'base_panel.html' %}

{% block content %}
<!-- Settings Content -->

<h1 class="h2">Добро пожаловать в Настройки</h1>
<div class="mt-4">
    <h2 class="h4">Настройки уведомлений</h2>
    <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" id="warnOneDay">
        <label class="form-check-label" for="warnOneDay">Предупреждать за день</label>
    </div>
    <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" id="warnTwoDays">
        <label class="form-check-label" for="warnTwoDays">Предупреждать за два дня</label>
    </div>
    <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" id="warnOneWeek">
        <label class="form-check-label" for="warnOneWeek">Предупреждать за неделю</label>
    </div>
    <div class="form-check mt-3">
        <input class="form-check-input" type="checkbox" id="disableNotifications">
        <label class="form-check-label" for="disableNotifications">Отключить уведомления</label>
    </div>
</div>
<div class="mt-4">
    <h2 class="h4">Другие настройки</h2>
    <button type="button" class="btn btn-primary mt-3">Изменить Пароль</button>
    <button type="button" class="btn btn-danger mt-3">Удалить аккаунт</button>
</div>

{% endblock %}
