.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Устанавливаем отступ сверху */
}

.buttons-container {
    position: absolute;
    top: 420px; /* Располагаем от верхнего края на 500px */
    left: 50%; /* Располагаем от левого края на 50% ширины страницы */
    transform: translateX(-26%); /* Центрируем по горизонтали */
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    width: 100%; /* Делаем ширину контейнера равной ширине страницы */
    max-width: 600px; /* Максимальная ширина контейнера */
    padding: 0 20px; /* Добавляем отступы справа и слева для контейнера */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

.buttons-container .btn {
    margin: 0 1px; /* Устанавливаем расстояние между кнопками */
}

/* Переопределение цвета текста для кнопки "Подробнее" */
.btn-outline-light {
    color: #898989; /* Изменяем цвет текста на черный */
}

.btn-outline-light {
    border-color: #898989; /* Изменяем цвет обводки на черный */
}