.carousel-inner {
    max-width: 100vw; 
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезка или масштабирование изображения */
}

.carousel-caption {
    text-align: left; /* Выравнивание текста по левому краю */
    bottom: 30%; /* Приподнять текст и кнопку вверх */
    right: 40%; /* Центрирование по правому краю */
    transform: translateX(0%); /* Корректировка положения */
    background-color: rgba(0, 0, 0, 0.0); /* Небольшой фон для улучшения читаемости */
    padding: 10px;
}

.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #ffffff; /* Изменение цвета фона */
    opacity: 1; /* Непрозрачный фон */
    width: 600px; /* Увеличение размера окна вдвое */
    height: 600px;
}

.toast-lg {
    font-size: 1.2rem;
    padding: 1.5rem;
}

.toast-header {
    background-color: #ffffff; /* Изменение цвета фона */
}

.toast-body {
    background-color: #ffffff; /* Изменение цвета фона */
}


@media (min-height: 600px) {
    .carousel-inner img {
        object-fit: cover; /* Обрезка или масштабирование изображения */
        width: 100%;
        height: 500px; /* Максимальная высота карусели */
    }
}

.bg-image {
    color: white; /* Цвет текста */
    opacity: 2; /* Прозрачность фото */
}

.btn-outline-success{
    transition: background-color 0.3s;
}


.card {
    border: none; /* Удаляет обводку у карточек */
    margin-bottom: 20px; /* Устанавливает расстояние между карточками */
    opacity: 0; /* initial opacity */
    transform: scale(0.9); /* initial scale */
    transition: opacity 0.5s, transform 0.5s; /* animation duration */
}

.card-cover {
    opacity: 0.8; /* Пример значения прозрачности */
}
  
.card.animate {
    opacity: 1; /* final opacity */
    transform: scale(1); /* final scale */
  }

h2.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* горизонтальное смещение, вертикальное смещение, размытие, цвет тени */
}

h1.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* горизонтальное смещение, вертикальное смещение, размытие, цвет тени */
}

p.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* горизонтальное смещение, вертикальное смещение, размытие, цвет тени */
}

.video-bg {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.effects {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
}

.video-bg__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;
    color: #ffffff;
    font-size: 50px;
  }


/* Show .bg-image on smaller screens */
@media only screen and (max-width: 1242px) {
    .video-bg {
      display: none;
    }
    .bg-image {
      display: block;
    }
  }

/* Show .bg-image on smaller screens */
@media only screen and (min-width: 1243px) {
    .bg-image {
      display: none;
    }
  }