

/* Добавляем стили для контактов в футере */
.footer {
    text-align: center;
    padding-top: 20px;
}

.footer h2 {
    font-size: 20px; 
    margin-bottom: 20px;
}

.footer p {
    margin-bottom: 5px;
}

.footer a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #6c757d;
}

/* Располагаем контакты в одну линию */
.footer p {
    display: inline-block;
    margin: 0 10px;
}

/* Стили для кнопки входа и регистрации */

.btn-primary {
    background-color: #008080;
    color: #fff; /* Цвет текста */
    border: none;
    border-radius: 5px;
    font-size: 14px; /* Уменьшаем размер шрифта */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-danger {
    color: #fff; /* Цвет текста */
    border: none;
    border-radius: 5px;
    font-size: 14px; /* Уменьшаем размер шрифта */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #008080; /* Изменение цвета фона при наведении */
}

.login-btn:hover {
    background-color: #008080; /* Изменение цвета фона при наведении */
}

.welcome-block {
    display: flex;
    align-items: center; /* Выравнивание элементов по вертикали */
    justify-content: space-between; /* Равномерное распределение пространства между элементами */
    position: relative; /* Относительное позиционирование */
}

.welcome-text {
    margin-right: 10px; /* Отступ справа от текста */
}

/* Стили для маленьких кнопок */
.btn-sm {
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
}

.nav-link {
    color: #6683EA; /* Цвет текста и иконок */
}

.nav-link.active {
    background-color: #6683EA; /* Фон для активной ссылки */
    color: white; /* Цвет текста для активной ссылки */
}

.nav-link.active:hover {
    background-color: #6683eab6; /* Изменение цвета фона при наведении на активную ссылку */
}

@keyframes dropdownFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-menu {
    width: 200px; /* Устанавливаем начальную ширину (можно изменить по вашему желанию) */
    margin-top: 10px; /* Установите нужное вам значение отступа */
    animation: dropdownFadeIn ease-in-out 0.3s forwards; /* Анимация появления с задержкой в 0.5 секунды и длительностью 0.5 секунды */
    opacity: 0; /* Начальное состояние: скрыто */
    transform: translateY(-10px); /* Начальное состояние: сдвинуто вверх */
    display: none; /* Добавьте это, чтобы изначально скрыть меню */
}

