{% extends 'base.html' %}

{% block styles %}
<link href="{{ url_for('static', filename='css/booking.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Выбор дома -->
<section style="background-color: #eee;">
    <div class="container py-5">
        {% for house in houses %}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src="{{ house.main_photo }}" class="w-100 img-limit-height" />
                                    <a href="/calendar">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>{{ house.name }}</h5>
                                <div class="d-flex flex-row">
                                    <div class="text-danger mb-1 me-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>ID {{ house.id }}</span>
                                </div>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span>{{ house.floors }} этажа</span>
                                    <span class="text-primary"> • </span>
                                    <span>{{ house.rooms }} комнат</span>
                                    <span class="text-primary"> • </span>
                                    <span>{{ house.beds }} спальни<br /></span>
                                </div>
                                <div class="mb-2 text-muted small">
                                    <span>Для {{ house.persons }}</span>
                                </div>
                                <p class="text-truncate mb-4 mb-md-0">
                                    {{ house.small_disc }}
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h4 class="mb-1 me-1">₽{{ house.price }}</h4>
                                    <span class="text-danger"><s>₽{{ house.price }}</s></span>
                                </div>
                                <h6 class="text-success-custom">{{ house.price }} Бонусов</h6>
                                <div class="d-flex flex-column mt-4">
                                    <form action="{{ url_for('main.house_selection') }}" method="POST">
                                        {{ form.hidden_tag() }}
                                        <input type="hidden" name="house_id" value="{{ house.id }}">
                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-sm select-house-btn w-100" type="submit">Выбрать</button>
                                    </form>
                                    <a href="{{ url_for('main.house_details', house_id=house.id) }}" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-sm mt-2" role="button">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}