{% extends 'base.html' %}

{% block styles %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Pacifico&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% endblock %}

{% block content %}

<!-- FEATURED FOR BIG SCREEN -->
<div class="video-bg">
  <video playsinline loop autoplay="autoplay" muted preload="auto" id="video-bg">
    <source src="static/video/video_main.mp4" type="video/mp4" />
  </video>
  <div class="effects"></div>
  <div class="video-bg__content">
      <img src="static/img/logo_new3.png" alt="Borovsky Logo" class="borovsky-logo" />
      <a href="/house_selection" class="btn btn-success-custom btn-lg">Забронировать</a>
  </div>
</div>

<!-- FEATURED FOR SMALL SCREEN -->
<div class="bg-image">
  <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light" style="background-image: url('https://s12.gifyu.com/images/Sapca.gif'); background-size: cover; background-position: center;">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="cormorant-infant-regular">B O R O <span class="cinzel-decorative-regular">V</span> S K Y</h2>
          <p class="nunito-sans-font mb-4">Загородный комплекс для выходных на природе</p>
          <a href="/house_selection" class="btn btn-success-custom btn-lg">Забронировать</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
</div>

<!-- HERO ONE-->
<div class="hero-one text-center">
    <h1 class="display-5 fw-bold mb-5">Добро пожаловать в уникальный мир уюта!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="nunito-sans-font mb-4">Мы - маленькая компания с большим сердцем, специализирующаяся на создании уютных современных домов с учетом богатой истории нашего города - Боровска.</p>
    </div>
    <div class="col-lg-6 mx-auto">
      <p class="nunito-sans-font">Для нас важно, чтобы каждый клиент не просто наслаждался отдыхом в наших домах, но и чувствовал себя как дома, окруженным заботой и вниманием. Мы ценим уникальность каждого человека и стремимся создать для него неповторимый опыт, сочетающий в себе комфорт, уют и современные удобства.</p>
    </div>

    <div class="col-lg-6 mx-auto">
      <p class="nunito-sans-font">Вас ждет:</p>
    </div>

    <div class="col-lg-6 mx-auto">
      <p class="nunito-sans-font">🎣 Рыбалка </p>
      <p class="nunito-sans-font">🔥 BBQ </p>
      <p class="nunito-sans-font">🧖 Сауна </p>
      <p class="nunito-sans-font">🐎 Верховая езда </p>
      <p class="nunito-sans-font">🌿 Поля и Леса </p>
    </div>

    <h1 class="display-5 fw-bold">Наши Домики:</h1>
</div>
<!-- HOUSES CAROUSEL -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <!-- HOUSES -->
  <div class="carousel-inner">
    {% for house in houses %}
    <div class="carousel-item {{ 'active' if loop.first else '' }}">
      <div class="row justify-content-center">
        <!-- LEFT SIDE -->
        <div class="carousel-left col-md-8">
          <div class="main-text">
              <h5 class="pacifico-regular text-center">{{ house.name }}</h5>
          </div>
          <div class="disc-block">
            <div class="sticker-block">
              <div class="sticker nunito-sans-sticker">{{ house.floors }} этажа</div>
              <div class="sticker nunito-sans-sticker">На {{ house.persons }} человек</div>
              <div class="sticker nunito-sans-sticker"> {{ house.beds }} кровати</div>
              <div class="sticker nunito-sans-sticker"> {{ house.rooms }} комнаты</div>
              {% if house.water %}
                <div class="sticker nunito-sans-font">
                  🎣
                </div>
              {% endif %}
              {% if house.bbq %}
                <div class="sticker nunito-sans-font">
                  🔥
                </div>
              {% endif %}

            </div>
            <div class="text-block">
              <p class="card-text">{{ house.small_disc }}</p>
              <p class="card-text bold"> <span class="nunito-sans-bold">Цена:</span> {{ house.price }}</p>
            </div>
          </div>
          <div class="button-block"> 
              <a href="{{ url_for('main.house_details', house_id=house.id) }}" class="btn btn-success-custom">Выбрать</a>
          </div>
        </div>
        <!-- RIGHT SIDE -->
        <div class="carousel-right col-md-4 d-none d-md-block">
          <img src="{{ house.main_photo }}" class="d-block w-100" alt="House image">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- CONTROLS -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Назад</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Далее</span>
  </button>
</div>

<!-- HERO TWO-->
<div class="hero-one text-center">
    <p class="nunito-sans-font mb-4 col-lg-6 mx-auto">Мы собрали для Вас всю необходимую информацию для незабываемого отдыха в Боровске. Этот удивительный город богат историей и достопримечательностями, которые не оставят вас равнодушными. У нас есть возможность организовать для вас увлекательные экскурсии по самым интересным местам.</p>
  </div>
</div>



<!-- ATTRACTIONS BLOCK  -->
<!-- ATTRACTIONS CARDS  -->
<div class="container" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

      <!-- FIRST CARDS  -->
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://media.pravoslavie.ru/314850.b.jpg?mtime=1554118721');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow">Свято-Пафнутьев Боровский монастырь</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="static/img/logo_square_new.png" alt="logo" width="32" height="32" class="rounded-circle">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <a href="http://www.pafnuty-abbey.ru/">
                  <button class="btn btn-outline-light">Подробнее</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- SECOND CARDS  -->
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://img-fotki.yandex.ru/get/373240/121998322.ec/0_a47dc_f2919d23_orig.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow">Фрески Боровска</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="static/img/logo_square_new.png" alt="logo" width="32" height="32" class="rounded-circle">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <a href="https://ru-travel.livejournal.com/33490586.html">
                  <button class="btn btn-outline-light">Подробнее</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- THIRD CARDS  -->
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://i.pinimg.com/736x/1d/e8/dd/1de8dd51e4559aec8602de70997d3add--moscow-russia.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow">Храм Покрова Пресвятой Богородицы</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="static/img/logo_square_new.png" alt="logo" width="32" height="32" class="rounded-circle">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <a href="https://www.hrampokrov.ru/">
                  <button class="btn btn-outline-light">Подробнее</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- FOURTH CARDS  -->
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://borovsk-sobor.ru/files/2014/06/museum_borovsk1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow">Собор Благовещения Пресвятой Богородицы</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="static/img/logo_square_new.png" alt="logo" width="32" height="32" class="rounded-circle">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <a href="https://fedosino.ru/">
                  <button class="btn btn-outline-light">Подробнее</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- FIFTH CARDS  -->
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/96/3b/4e/caption.jpg?w=1200&h=-1&s=1');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow">Музей-квартира К.Э.Циолковского</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="static/img/logo_square_new.png" alt="logo" width="32" height="32" class="rounded-circle">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <a href="https://gmik.ru/2022/11/15/muzey-kvartira-k-e-tsiolkovskogo-v-borovske/">
                  <button class="btn btn-outline-light">Подробнее</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- SIXTH CARD  -->
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/73/be/d6/getlstd-property-photo.jpg?w=1200&h=-1&s=1');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-shadow">Музей Kомпьютеров</h2>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="static/img/logo_square_new.png" alt="logo" width="32" height="32" class="rounded-circle">
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <a href="https://www.частныемузеи.рф/o-proekte/geografiya/kaluzhskaya-oblast/muzej-kompyuterov-g-borovska/">
                  <button class="btn btn-outline-light">Подробнее</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>



    </div>
  </div>

<!-- HERO THREE-->
<div class="hero-one text-center">
  <div class="col-lg-6 mx-auto">
    <p class="nunito-sans-font mb-4">
      Для удобства наших гостей, мы расположены прямо у въезда в Боровск, что делает нас легко доступными для всех путешественников. Если вы планируете прибыть к нам своим собственным транспортом, просто следуйте указателям к городу Боровск, и вы увидите нас сразу по прибытии.</p>
  </div>
  <div class="col-lg-6 mx-auto">
    <p class="nunito-sans-font">Если вам нужна помощь с транспортом по прибытии в Боровск, не стесняйтесь обратиться к нам. Мы готовы предоставить услуги трансфера, чтобы ваше путешествие было максимально комфортным и беззаботным. Просто свяжитесь с нами заранее, чтобы мы могли организовать ваш транспорт до нашего уютного уголка в Боровске.</p>
  </div>
</div>

<!-- YANDEX MAPS  -->
<script type="text/javascript">
	ymaps.ready(init);
	function init(){
		var myMap = new ymaps.Map("map", {
			center: [55.76, 37.64],
			zoom: 7
		});
	}
</script>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A027152c95e6f25f0cfb737e3019bcd13b49abc581c79f63ec839cac5ddd5064a&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>

<!-- FINAL BLOCK  -->
<div class="p-5 mb-4 bg-light rounded-3">
	<div class="container-fluid py-5">
	  <h1 class="display-5 fw-bold">Остались вопросы?</h1>
	  <p class="col-md-8 fs-4">Воспользуйтесь формой заказа обратного звонка и мы свяжемся и уточним все детали</p>
	  <button class="btn btn-success-custom btn-lg" type="button">Заказать звонок</button>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const selectHouseButtons = document.querySelectorAll('.select-house-btn'); // in carousel 

    selectHouseButtons.forEach(button => {
        button.addEventListener('click', function () {
            const houseId = button.getAttribute('data-house-id');
            window.location.href = "/house_details/" + houseId;
        });
    });
  });
  

  // ANIMATION FOR CARDS
  const cards = document.querySelectorAll('.card');
  let animatedCards = [];

  function animateCards() {
    cards.forEach((card, index) => {
      const cardTop = card.offsetTop;
      const scrollPosition = window.scrollY + window.innerHeight;
      if (scrollPosition > cardTop && !animatedCards.includes(index)) {
        card.classList.add('animate');
        animatedCards.push(index);
        setTimeout(() => {
          animateCards(); // call again after 1 second to animate the next card
        }, 1000);
      }
    });
  }

  window.addEventListener('scroll', animateCards);
  animateCards(); // initial animation on page load


</script>
{% endblock %}
