<!DOCTYPE html>
<html>
<head>
    <title>Личный кабинет</title>
</head>
<body>
    <h2>Личный кабинет</h2>
    {% if bookings_message %}
        <p>{{ bookings_message }}</p>
    {% else %}
        <h3>Ваши бронирования:</h3>
        <ul>
            {% for booking in bookings %}
                <li>Дата заезда: {{ booking[0] }}, Дата выезда: {{ booking[1] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="post">
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Изменить">
    </form>

</body>
</html>